@import "./variables.css";

:root,
body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--fontFamilySerif);

  background-color: var(--mainBackgroundColor);
  color: var(--mainForegroundColor);
  overflow: auto;
}