<template>
  <div :class="['flexContainer', 'appEnable']">
    <ElementLabel :value="label" for-id="appEnableToggle" />
    <ToggleButton
      id="appEnableToggle"
      :is-checked="appState.settings.app.isEnabled"
      @click="toggleApp"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import ToggleButton from "./models/ToggleButton.vue"
import * as App from "../lib/app"
import { error, isEnabled } from "../lib/utils"
import { appState } from "../sharedReactives"
import ElementLabel from "./models/ElementLabel.vue"

export default defineComponent({
  components: { ToggleButton, ElementLabel },
  data() {
    return {
      appState,
      label: Browser.i18n.getMessage("enableExtension"),
    }
  },
  watch: {
    "appState.settings.app.isEnabled": {
      handler() {
        this.updateAppState()
      },
      deep: true,
    },
  },
  methods: {
    /**
     * @summary Toggle on/off the app
     */
    async toggleApp() {
      const toggleResult = await App.toggle()

      if (toggleResult.ok) {
        appState.settings.app.isEnabled = !appState.settings.app.isEnabled
      } else {
        error(toggleResult.val)
      }
    },
    /**
     * @summary Update the app state following if it's enabled or not
     */
    async updateAppState() {
      appState.settings.app.isEnabled = await isEnabled()
    },
  },
})
</script>

<style scoped>
* {
  font-weight: 700;
}

.flexContainer {
  display: flex;
  align-items: center;
  padding: 0;
  flex-flow: wrap;
  justify-content: space-around;
}
</style>

<style>
.appEnable label {
  color: var(--mainForegroundColor);
}

.appEnable label:hover {
  cursor: pointer;
}
</style>
