<template>
  <BaseButton :value="buttonValue" :is-loading="isLoading" @click="clear()" />
</template>

<script lang="ts">
import { defineComponent } from "vue"
import * as Cache from "../lib/cache"
import BaseButton from "./models/BaseButton.vue"
import Browser from "webextension-polyfill"
import { error } from "../lib/utils"
import { reloadRedirection } from "../lib/redirection"

export default defineComponent({
  components: { BaseButton },
  data() {
    return {
      buttonValue: Browser.i18n.getMessage("cacheClear"),
      isLoading: false,
    }
  },
  methods: {
    async clear() {
      this.isLoading = true
      const clearResult = await Cache.clear()
      this.isLoading = false

      if (clearResult.ok) {
        const reloadResult = await reloadRedirection()

        if (reloadResult.err) {
          error(reloadResult.val)
        }
      } else {
        error(clearResult.val)
      }
    },
  },
})
</script>
