<template>
  <FieldsetBase :legend="fieldsetLegend">
    <PreferredPeertubeToggle />
    <PreferredPeertubeInstanceVue />
  </FieldsetBase>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import FieldsetBase from "./models/FieldsetBase.vue"
import PreferredPeertubeInstanceVue from "./PreferredPeertubeInstance.vue"
import Browser from "webextension-polyfill"
import PreferredPeertubeToggle from "./PreferredPeertubeToggle.vue"

export default defineComponent({
  components: {
    PreferredPeertubeInstanceVue,
    PreferredPeertubeToggle,
    FieldsetBase,
  },
  data() {
    return {
      fieldsetLegend: Browser.i18n.getMessage("fieldsetPeertubeRedirectionLegend"),
    }
  },
})
</script>
