<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'mainHeaderContainer']">
    <Sepia />
    <p class="mainHeaderTitle">
      {{ appName }}
    </p>
  </div>
  <AppEnableToggle />
</template>

<script lang="ts">
import Sepia from "./Sepia.vue"
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import AppEnableToggle from "./AppEnableToggle.vue"
import { appState } from "../sharedReactives"

export default defineComponent({
  components: {
    Sepia,
    AppEnableToggle,
  },
  data() {
    try {
      return {
        appName: Browser.runtime.getManifest().name,
        appState,
      }
    } catch (e: any) {
      return {
        appState,
      }
    }
  },
})
</script>

<style scoped>
.mainHeaderContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  margin: 0 1.25rem 0 0;
}

.mainHeaderContainer.disable {
  color: var(--disableForegroundColor);
}

.mainHeaderTitle {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  font-family: var(--fontFamilySerif);
}
</style>
