<template>
  <div class="container">
    <div class="containerHeader">
      <MainHeader />
      <hr class="mainHeaderSeparation" />
    </div>
    <form class="containerForm">
      <FieldsetRedirector />
      <FieldsetPeerTube />
      <FieldsetReset />
    </form>
  </div>
</template>

<script lang="ts">
import MainHeader from "./MainHeader.vue"
import { defineComponent } from "vue"
import FieldsetRedirector from "./FieldsetRedirector.vue"
import FieldsetReset from "./FieldsetReset.vue"
import FieldsetPeerTube from "./FieldsetPeerTube.vue"
import * as Settings from "../lib/settings"
import { appState } from "../sharedReactives"
import { error } from "../lib/utils"

export default defineComponent({
  components: {
    MainHeader,
    FieldsetRedirector,
    FieldsetReset,
    FieldsetPeerTube,
  },
  data() {
    return {
      appState,
    }
  },
  async mounted() {
    const loadSettingsResult = await Settings.load()

    if (loadSettingsResult.ok) {
      appState.settings = loadSettingsResult.val
    } else {
      error(loadSettingsResult.val)
    }
  },
})
</script>

<style>
@import "../assets/css/global.css";
@import "../assets/css/variables.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
}

.mainHeaderSeparation {
  margin-bottom: 1.25rem;
}
</style>
