<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'flexContainer']">
    <ElementLabel
      :value="preferredPeertubeInstanceLabel"
      :help-content="preferredPeertubeInstanceHelp"
      for-id="peertubePreferredInstanceUrlInput"
    />
    <UrlInput
      id="peertubePreferredInstanceUrlInput"
      :placeholder="preferredPeertubeInstancePlaceholder"
      :value="appState.settings.redirection.peertube.preferredInstance.url"
      @keydown.enter.prevent
      @input="validate"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import UrlInput from "./models/UrlInput.vue"
import ElementLabel from "./models/ElementLabel.vue"
import * as Settings from "../lib/settings"
import { appState } from "../sharedReactives"
import Browser from "webextension-polyfill"
import { error } from "../lib/utils"

export default defineComponent({
  components: { UrlInput, ElementLabel },
  data() {
    return {
      appState,
      preferredPeertubeInstanceLabel: Browser.i18n.getMessage("preferredPeertubeInstanceLabel"),
      preferredPeertubeInstanceHelp: Browser.i18n.getMessage("preferredPeertubeInstanceHelp"),
      preferredPeertubeInstancePlaceholder: Browser.i18n.getMessage(
        "preferredPeertubeInstancePlaceholder"
      ),
    }
  },
  methods: {
    async validate(e: KeyboardEvent) {
      const t = e.target as HTMLInputElement

      if (t.checkValidity()) {
        try {
          const url = t.value === "" ? "" : new URL(t.value).origin

          await this.save(url)
        } catch (e) {
          error(e)
          t.reportValidity()
        }
      } else {
        t.reportValidity()
      }
    },
    async save(url: string) {
      const setSettings = await Settings.set("redirection.peertube.preferredInstance.url", url)

      if (setSettings.ok) {
        appState.settings.redirection.peertube.preferredInstance.url = url
      } else {
        error(setSettings.val)
      }
    },
  },
})
</script>

<style scoped>
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  cursor: default;
}

input[type="url"] {
  min-width: 24ch;
}
</style>
