<template>
  <div
    :class="[
      {
        disable:
          !appState.settings.app.isEnabled ||
          appState.settings.redirector.selected === youtubeRedirector,
      },
      'flexContainer',
      'containerList',
    ]"
  >
    <ElementLabel
      :value="redirectorInstanceLabel"
      :help-content="redirectorInstanceHelp"
      for-id="instanceDropdown"
    />
    <div
      :class="[
        {
          disable:
            !appState.settings.app.isEnabled ||
            appState.settings.redirector.selected === youtubeRedirector,
        },
        'containerDropdown',
      ]"
    >
      <select
        id="instanceDropdown"
        v-model="selectedInstanceIndex[appState.settings.redirector.selected]"
        :class="[
          {
            disable:
              !appState.settings.app.isEnabled ||
              appState.settings.redirector.selected === youtubeRedirector,
          },
          'dropdown',
        ]"
        name="instanceDropdown"
        @change="save()"
      >
        <option
          v-if="
            instances[appState.settings.redirector.selected] === undefined ||
            instances[appState.settings.redirector.selected][0] === undefined ||
            instances[appState.settings.redirector.selected][0].url === ''
          "
          value=""
          selected
          disabled
        >
          Retrieving instances list...
        </option>
        <option
          v-for="(instance, index) in instances[appState.settings.redirector.selected]"
          v-else
          :key="index"
          :value="index"
        >
          {{ instance.url }}<span v-if="instance.ping"> ({{ instance.ping }} ms)</span>
        </option>
      </select>
      <font-awesome-icon
        ref="iconPing"
        :class="[
          {
            rotate: isLoading,
            disable:
              !appState.settings.app.isEnabled ||
              appState.settings.redirector.selected === youtubeRedirector,
          },
          iconPing,
        ]"
        icon="gauge-high"
        :title="redirectorInstanceFastest"
        @click="sortByPing()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { library } from "@fortawesome/fontawesome-svg-core"
import { faGaugeHigh } from "@fortawesome/free-solid-svg-icons"
import { error, sortInstancesByPing } from "../lib/utils"
import Browser from "webextension-polyfill"
import { appState } from "../sharedReactives"
import ElementLabel from "./models/ElementLabel.vue"
import { REDIRECTOR } from "../lib/enums/redirector"
import { BROWSER_MESSAGE } from "../lib/enums/browser-message"
import type { InstanceInterface } from "../lib/interfaces/instance"
import { SERVICE } from "../lib/enums/service"
import * as Redirector from "../lib/api/redirector"

library.add(faGaugeHigh)

export default defineComponent({
  components: { ElementLabel },
  setup() {},
  data() {
    return {
      selectedInstanceIndex: [],
      instances: [
        [
          {
            url: "",
            ping: 0,
            service: SERVICE.NO_SERVICE,
          } as InstanceInterface,
        ],
      ],
      redirectorInstanceHelp: Browser.i18n.getMessage("redirectorInstancePickerHelp"),
      redirectorInstanceLabel: Browser.i18n.getMessage("redirectorInstancePicker"),
      redirectorInstanceFastest: Browser.i18n.getMessage("redirectorInstancePickerFastest"),
      iconPing: "iconPing",
      youtubeRedirector: REDIRECTOR.YOUTUBE,
      isLoading: false,
      appState,
    }
  },
  watch: {
    "appState.settings.redirector.selected": {
      async handler() {
        await this.updateInstancesList()
      },
      deep: true,
      immediate: true,
    },
  },
  async created() {
    await this.updateInstancesList()
  },
  mounted() {
    try {
      Browser.runtime.onMessage.addListener(async (message) => {
        switch (message) {
          case BROWSER_MESSAGE.SELECTED_REDIRECTOR_INSTANCE_UPDATED:
            await this.updateSelectedInstance()

            break
        }
      })
    } catch (e: any) {
      error(e)
    }
  },
  methods: {
    /**
     * @summary Sort displayed instances by ping
     */
    async sortByPing() {
      if (
        !this.isLoading &&
        appState.settings.app.isEnabled &&
        appState.settings.redirector.selected !== REDIRECTOR.YOUTUBE
      ) {
        this.isLoading = true

        const instancesPingResult = await Redirector.getInstancesPing()

        if (instancesPingResult.ok) {
          this.instances[appState.settings.redirector.selected] =
            instancesPingResult.val?.sort(sortInstancesByPing) ||
            this.instances[appState.settings.redirector.selected]
          this.selectedInstanceIndex[appState.settings.redirector.selected] = 0

          await this.save()
        } else {
          error(instancesPingResult.val)
        }

        this.isLoading = false
      }
    },

    /**
     * @summary Save the preferred instance
     */
    async save() {
      try {
        const saveResult = await Redirector.savePreferredInstance(
          Object.assign(
            {},
            this.instances[appState.settings.redirector.selected][
              this.selectedInstanceIndex[appState.settings.redirector.selected]
            ] || this.instances[appState.settings.redirector.selected][0]
          ),
          appState.settings.redirector.selected
        )

        if (saveResult.err) {
          error(saveResult.val)
        }
      } catch (e: any) {
        error(e)
      }
    },

    /**
     * @summary Update the available instances dropdown
     */
    async updateInstancesList() {
      const getResult = await Redirector.getInstancesFromIndex()

      if (getResult.ok) {
        this.instances[appState.settings.redirector.selected] = getResult.val

        await this.updateSelectedInstance()
      } else {
        error(getResult.val)
      }
    },

    /**
     * @summary Select the preferred instance or the first in the list if no preferred instance has been choosen.
     */
    async updateSelectedInstance() {
      const getResult = await Redirector.getPreferredInstance(appState.settings.redirector.selected)

      if (getResult.ok) {
        const index = this.instances[appState.settings.redirector.selected].findIndex(
          (instance: InstanceInterface) => instance.url === getResult.val.url
        )

        this.selectedInstanceIndex[appState.settings.redirector.selected] =
          index && index !== -1 ? index : 0
      } else {
        this.selectedInstanceIndex[appState.settings.redirector.selected] = 0
        error(getResult.val)
      }
    },
  },
})
</script>

<style scoped>
@import "../assets/css/variables.css";
.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  cursor: default;
}

.containerDropdown {
  color: var(--mainForegroundColor);
  border: 0.0625rem solid var(--gray);
  font-size: 1rem;
  border-radius: 0.25rem;
  line-height: 1.5;

  transition: box-shadow 0.2s ease;
}

.containerDropdown:focus-within {
  border-color: var(--mainHoverColor);
  box-shadow: 0 0 0 0.0625rem var(--mainHoverColor);
}

.containerList.disable {
  color: var(--disableForegroundColor);
}

.containerDropdown:not(.disable):hover {
  border-color: var(--mainHoverColor);
}

.containerDropdown.disable {
  color: var(--disableForegroundColor);
  background-color: var(--disableBackgroundColor);
  border-color: var(--disableBackgroundColor);
  pointer-events: none;
}

.dropdown {
  background: transparent none;
  color: var(--mainForegroundColor);
  border: 0;
  text-overflow: ellipsis;
  cursor: pointer;
  padding-left: 0.75rem;
  font-size: 1rem;
  height: min-content;
}

.dropdown.disable:hover {
  cursor: default;
}

.dropdown.disable {
  color: var(--disableForegroundColor);
}

.iconPing {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.iconPing:not(.disable):hover {
  cursor: pointer;
  color: var(--mainHoverColor);
}

.rotate:not(.disable) {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
</style>
