<template>
  <BaseButton :value="buttonValue" :is-loading="isLoading" @click="reset()" />
</template>

<script lang="ts">
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import * as Settings from "../lib/settings"
import { error } from "../lib/utils"
import BaseButton from "./models/BaseButton.vue"
import { appState } from "../sharedReactives"
import * as Redirector from "../lib/api/redirector"

export default defineComponent({
  components: { BaseButton },
  data() {
    return {
      buttonValue: Browser.i18n.getMessage("settingsReset"),
      isLoading: false,
    }
  },
  methods: {
    async reset() {
      this.isLoading = true

      const resetResult = await Settings.reset()

      if (resetResult.ok) {
        appState.settings = resetResult.val

        await Redirector.pickInstance()
      } else {
        error(resetResult.val)
      }

      this.isLoading = false
    },
  },
})
</script>
